body {
    background-color: #160503;
    display: flex;
    justify-content: center; /* Centra el .login horizontalmente */
    align-items: center; /* Centra el .login verticalmente en la pantalla */
    height: 100vh; /* Asegura que el body ocupe toda la pantalla */
    margin: 0; /* Elimina márgenes predeterminados */
}

.calculadora {
    display: flex;
    justify-content: center; /* Centra los elementos dentro del .login */
    align-items: center;
    height: 80vh;
    width: 70vw; /* Opcional: da un ancho al .login */
    background-color: wheat;
    border-radius: 10px; /* Bordes redondeados opcionales */
}